.container {
  overflow-x: scroll;
  width: 95vw;

  margin: 0 auto;

  display: flex;
}

.item {
  background-color: #fff;
  padding: 30px;
  margin: 20px;
  width: 50%;

  flex-shrink: 0;
  position: relative;

  list-style-type: none;
}

.image {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.link {
  height: 20px;
  color: #000;
}

.link:hover {
  color: #636e72;
}

.links {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  bottom: 5%;
  right: 5%;
}
