@import "./media.css"

.container {
  display: flex;
  justify-content: flex-end;

  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  right: 0;

  background-color: #fff;

  z-index: 10;
}

@media (--mobile) {
  .container {
    width: 100%;
  }
}

.item {
  list-style-type: none;

  margin: 10px;
}

@media (--mobile) {
  .item {
    flex-grow: 1;
  }
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 300;

  position: relative;
}

@media (--mobile) {
  .link {
    font-size: 5vw;
  }
}


.link::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 2px;
  background-color: #000;
  transition: .3s;
}

.here::after,.link:hover::after{
  width: 100%;
}

