.container {
  text-align: center;
  height: 100vh;
  padding-top: 35vh;
}

.heading {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}

@media (--mobile) {
  .heading {
    font-size: 12vw;
  }

  .description {
    font-size: 7vw;
  }
}

.description {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}

.icons {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

.icon {
  margin: 10px;
  height: 2em;

  color: #fff;
}

.icon:hover {
  color: #dfe6e9;
}
